/* TODO: make a start on the css */
/**
 * [Master Stylesheet]
 */

/******************************************************************************/

/**
 * Project:	GP Website Main Stylesheet
 * Version:	1.1
 * Last change:	9 Jul 2023
 * Assigned to:	Brendan Freeman
 * Primary use:	Usage 
 */

/******************************************************************************/

/**
 * [Table of Contents]
 * 1. Imports
 * 2. Body
 * 3. Header / #header
 * 4. Navigation / #navbar
 * 5. Content / #content
 * 6. Left column / #leftcolumn
 * 7. Right column / #rightcolumn
 * 8. Sidebar / #sidebar
 * 9. RSS / #rss
 * 10. Search / #search
 * 11. Boxes / .box
 * 12. Sideblog / #sideblog
 * 13. Advertisements / .ads
 * 14. Footer / #footer
 */

/******************************************************************************/

/**
 * [1. Imports]
 */

/******************************************************************************/

/**
 * [2. Header]
 */

/******************************************************************************/
body {
  color: #606060;
  font-family: "Helvetica, Arial, san-serif";
  font-size: 100%;
}

header {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

.home-link {
  grid-column: 2;
}

.requests-link {
  grid-column: 3;
}
