/*=======info=====*/
/*https://colorhunt.co/palette/0e29541f6e8c2e8a9984a7a1*/

:root {
  --primary-color: rgb(14, 41, 84);
  --primary-color-gradient: rgba(14, 41, 84, 0.25);
  --secondary-color: rgb(31, 110, 140);
  --tertiary-color: rgb(46, 138, 153);
  --quaternary-color: rgb(132, 167, 161);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}
/*===================MOBILE FIRST SECTION===============*/
.menu-button {
  padding: auto;
  margin: 1vw 1vw;
}

#dropdown {
  display: none;
}
/*----------------------HERO SECTION-------------*/

.hero-section {
  background-image: url("/img/programmer.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50vw;
}

.hero-text{
    text-align: center;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 8%;
    margin: auto;
    width: 75%;
}

.hero-text h1 {
  font-size: 8vw;
}

.hero-text p {
    font-size: 4vw;
  }
/*--------SECTION-------*/
.about-me-desc{
    padding: 0 2vw;
    font-size: 4vw;
}

li{
    font-size: 4vw;
}
section h2{
    font-size: 6vw;
}

h3{
    font-size: 4vw;
}

section p{
    font-size: 4vw;
    padding: 0 2vw;
}

.portfolio-img img{
    max-height: 100%;
    max-width: 100%;
}

.portfolio-txt{
  font-size: large;
}

.portfolio-section{
  background-color: var(--quaternary-color);
  color: #ffffff;
}

@media only screen and (min-width: 800px){
  .portfolio-img img{
    display: inline;
    grid-column: 1;
    width: 50vw;
  }
  .portfolio-txt{
    vertical-align:top;
    margin: 0;
    grid-column: 2;
    font-size: 2vw;
  }
  .wordpress-section{
    display: grid;
    grid-template-columns: auto auto;
  }

}